<section class="best-section  h-25">
  <div class="container-fluid ">
    <div class="row ">
      <div class=" card col-lg-12 col-md-12 col-sm-12 col-xs-12 w-75 h-50">
  
         <% @articles.each do |a| %>
          <% if a.votes.count == @most_voted %>
           <%= image_tag a.image.url %>
            <div class="card-img-overlay w-100 d-flex ">
              <%= a.title %>
              </div>
          <%end%>
         <%end%>
      </div>
    </div>
    </div>
  </div>
</section>

  <section class="best-section   h-25">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex">
         <% @articles.limit(4).each do |a|%>
         <div class="card  text-white w-75">
          <%= image_tag a.image.url, class: " w-100 h-100" %>
          <div class="card-img-overlay w-100 d-flex ">
           <%= link_to a.category_list, article_path(a),class:"font-weight-bold h3 text-white text-uppercase p-0 border-bottom  "%>
          <div class="mt-auto mr-category"> <%= link_to a.title, article_path(a), class:"font-weight-bold h5 text-white  "%></div>

          </div>

         </div>
        <%end%>
      </div>
    </div>
  </div>




